In [52]:
import pandas as pd
import glob
import os
import sqlite3
import csv

In [27]:
from os import path

csvfiles = []
path = os.path.join(os.getcwd(), "../data/csv/")
csvfiles = glob.glob(path+"*.csv")
print(*csvfiles, sep='\n')

/Users/sanleypeter/Desktop/TransferMate/backend/../data/csv/data2.csv
/Users/sanleypeter/Desktop/TransferMate/backend/../data/csv/data1.csv

In [ ]:
def process(data):

In [57]:
from typing import final


list_df = []
for csvfile in csvfiles:
   with open(csvfile, "r") as f:
      reader = csv.reader(f)
      header = next(reader)
      if header != None:
         for row in reader:
            print(row)
   # list_df.append(df)

# final_df = pd.concat(list_df)
# final_df = final_df.reset_index(drop=True)

<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>

In [49]:
final_df

  Source Currency Destination Currency  Source Amount  Rate
0             EUR                  USD             50  0.98
1             EUR                  USD            400  0.98
2             EUR                  GBP            300  0.86
3             USD                  AUD            800  1.56
4             EUR                  USD            100  0.98
5             EUR                  USD             98  0.98
6             EUR                  GBP            200  0.86
7             USD                  AUD            500  1.56

In [39]:
#Saving contents to database
con = sqlite3.connect("../database/currency.db")
cur = con.cursor()
df.to_sql("Currency", con, if_exists="replace")
con.close()

/Users/sanleypeter/dev/lib/python3.8/site-packages/pandas/core/generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

In [40]:
#Read contents from database
con = sqlite3.connect("../database/currency.db")
db_df = pd.read_sql_query("SELECT * from Currency", con)
print(db_df)
con.close()

   index Source Currency Destination Currency  Source Amount  Rate
0      0             EUR                  USD             50  0.98
1      1             EUR                  USD            400  0.98
2      2             EUR                  GBP            300  0.86
3      3             USD                  AUD            800  1.56
4      4             EUR                  USD            100  0.98
5      5             EUR                  USD             98  0.98
6      6             EUR                  GBP            200  0.86
7      7             USD                  AUD            500  1.56